.nav-bar {
  margin: 0 200px;
}

.img-box {
  height: 5vh;
  width: 15vh;
  border-radius: 5px;
  cursor: pointer;
}

.titles {
  height: 70vh;
  padding: 5vh 0;
}

.user-container {
  display: flex;
  justify-content: space-between;
}

.addTodo-navbar {
  display: flex;
  justify-content: center;
}

.img-container {
  display: flex;
  justify-content: center;
}

.drawer-titles {
  display: flex;
  height: fit-content;
}

.userdata-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
