.nav-bar {
  margin: 0 15vw;
}

.img-box {
  height: 5vh;
  width: 15vh;
  border-radius: 5px;
  cursor: pointer;
}

.titles {
  height: 60vh;
  padding: 3vh 0;
}

.user-container {
  display: flex;
  justify-content: space-between;
}

.addTodo-navbar {
  margin-bottom: 4vh;
  display: flex;
  justify-content: center;
}

.img-container {
  display: flex;
  justify-content: center;
}

.drawer-titles {
  display: flex;
  height: fit-content;
}

.userdata-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.MuiLink-root.edituser-btn {
  display: flex;
    height: 22px;
    margin-top: 11px;
    color: grey;
    cursor: pointer;
    margin-right: 10px;
    transition: 0.4s;
}

.MuiLink-root.edituser-btn:hover {
  color: rgb(51, 51, 51)
}

.drawer-img {
  width: 7vw;
  border-radius: 10px
}

.MuiDivider-root {
  width: 100% ;
  margin: 10px 0 !important;
}