.container {
    height: 100vh;
    margin: 0 200px;
}

.task-title {
    height: 32px;
}

.title-container {
    display: flex;
    justify-content: center;
}

.title-input .MuiInput-root  input {
    text-align: center;
}

.save-btn-container {
    display: flex;
    justify-content: flex-end;
}

.new-list-box {
    margin-top: 150px;
}