.edit-box {
    z-index: 1;
    display: flex;
    border-radius: 5px;
    background-color: #d5d5d5;
}

.tasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.input {
    display: flex;
    justify-content: center;
}

.new-task {
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

.input-title {
    display: flex;
    justify-content: center;
}
